* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.upper-portion-nav-options {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    padding: 100px 5px;
    margin-bottom: 50px;
    background: white;
    color: black;
    position: relative;
    top: 0;
    display: none;
}

.upper-portion-nav-options .close-icon {
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.upper-portion-nav-options ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-portion-nav-options ul li {
    list-style: none;
    font-family: "Abril Fatface", times, serif;
    font-size: 40px;
    line-height: 72px;
    cursor: pointer;

}

.upper-portion-nav-options ul li a {
    text-decoration: none;
    color: black;
}

.upper-portion-nav-options ul li a:hover {
    color: #65C0BA;
    transition: all .3s ease-in;
}

.pointer {
    cursor: pointer;
}

.upper-portion {
    position: relative;
    color: white;
    background-image: url("/Assets/traveller.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    min-height: 500px;
    padding: 30px 5px;
    margin-bottom: 50px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}


.upper-portion nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-portion nav .logo {

    font-family: "Abril Fatface", times, serif;
    font-size: 30px;
    font-weight: 700;
}

.upper-portion nav .hamburger-icon {
    color: #fff;
}

.upper-portion .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;

}

.upper-portion .center-content h1 {
    font-family: "Abril Fatface", times, serif;
    font-weight: 700;
    font-size: 80px;
}

.upper-portion .center-content p span {
    color: #6C757D;
    padding-bottom: 5px;
    border-bottom: 1px solid #6C757D;
    transition: 0.3s all ease;
}

.upper-portion .center-content p span:hover {
    color: white;
    border-bottom: 1px solid white;

}

.upper-portion .center-content p,
.upper-portion .center-content button {
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
}

.upper-portion .center-content button,
.start-btn {
    color: #fff;
    background-color: transparent;
    border: 2px solid white;
    font-size: 15px;
    padding: 16px 30px;
    border-radius: 3px;
    font-weight: 400;
    margin-top: 50px;
    transition: 0.3s all ease;
}

.upper-portion .center-content button:hover,
.start-btn:hover {
    background: white;
    color: black;
}

.upper-portion .center-content button span,
.start-btn span {
    margin-left: 10px;
}

.upper-portion .sort-down .icon-down {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-size: 12px;
    font-weight: 200;
    position: relative;
    top: 70px;
}

.upper-portion .sort-down .icon-down img {
    width: 25px;
    height: 25px;
}



.container {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 100px;
}

.right-side {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;


}

.right-side h1 {
    font-size: 14px;
    font-weight: 500;
    font-family: "Mukta Mahee", arial, sans-serif;
    color: #65C0BA;

}

.right-side p {
    font-size: 30px;
    font-weight: 200;
    font-family: "Abril Fatface", times, serif;


}

.little-down-more-more-more {
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    width: 55%;
    padding: 0 0 0 44px;
    box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.5);
}

.little-down-more-more-more input {
    height: 50px;
    border: 2px solid #cccccc;
    border-radius: 5px;
}

.little-down-more-more-more form {
    font-size: 18px;
    color: #6C757D;
    text-align: left;
    padding: 30px;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

}

.little-down-more-more-more form input {
    width: 530px;
}

.little-down-more-more-more form :first-child {
    display: flex;
    gap: 20px;
}

.little-down-more-more-more form :first-child div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.little-down-more-more-more form :first-child div input {
    width: 255px;
}

.little-down-more-more-more .second-down {
    width: 60%;
}

.little-down-more-more-more .second-down h1 {
    font-size: 32px;
    font-weight: 500;
    font-family: "Abril Fatface", times, serif;

}

.little-down-more-more-more .second-down p {
    font-size: 20px;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 300;
    color: white;
    color: #6C757D;
}

.little-down-more-more-more .cards {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
}

.little-down-more-more-more .cards .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 380px;
    cursor: pointer;
    position: relative;
    z-index: 2;

}

.little-down-more-more-more .cards .card div {
    padding: 40px 20px;
}

.little-down-more-more-more .cards .card img {
    width: 380px;
}

.little-down-more-more-more .cards .card h1 {
    font-size: 26px;
    font-weight: 500;
    font-family: "Abril Fatface", times, serif;
}

.little-down-more-more-more .cards .card h1:hover {
    color: #65C0BA;
    cursor: pointer;
}

.little-down-more-more-more .cards .card p {
    font-size: 18px;
    font-weight: 200;
    font-family: "Mukta Mahee", arial, sans-serif;

}

.little-down-more-more-more .cards .card span {
    font-size: 18px;
    font-weight: 200;
    font-family: "Mukta Mahee", arial, sans-serif;
    color: #CED4DA;
    text-transform: uppercase;
}


.happy-customers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 70px 150px 70px;
    gap: 60px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;

}

.happy-customers h1 {
    font-size: 70px;
    font-weight: 500;
    font-family: "Abril Fatface", times, serif;
}

.happy-customers .comments {
    display: flex;
    gap: 30px;
}

.happy-customers .comments .comment img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.happy-customers .comments .comment .default {
    padding: 5px;
    border: 1px solid black;
}

.happy-customers .comments .comment p {
    font-size: 20px;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: black;
}

.happy-customers .comments .comment .writer {
    font-size: 20px;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #6C757D;
}


footer {
    height: auto;
    background-color: #1a1a1a;
    color: white;
}

footer h1 {
    font-size: 20px;
    font-weight: 500;
    font-family: "Abril Fatface", times, serif;
    margin-bottom: 20px;
}

footer {
    padding: 110px 70px 150px 70px;
}

footer .footer-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

footer div ul li {
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

footer div ul li:hover {
    color: white;

}

footer div ul li,
footer div p {
    font-size: 18px;
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
}

footer .contact-info {
    width: 242px;
    height: 317px;
}

footer .contact-info h3 {
    font-family: "Mukta Mahee", arial, sans-serif;
    font-weight: 200;
    font-style: italic;
}

footer .contact-info div {
    margin-bottom: 20px;
}

footer .subscribe .input-subscribe-con {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    width: 255px;
    height: 50px;

}

footer .subscribe .input-subscribe-con input {
    border: 0;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    color: white;
}

footer .subscribe .input-subscribe-con input::placeholder {
    font-style: italic;
}

footer .copyright-del {
    text-align: center;
    width: 80vw;
    height: 146px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}

footer .copyright-del p img {
    position: relative;
    top: 2px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
    width: 18px;
    height: 18px;


}

.icon:hover {
    color: white;
}

@media only screen and (max-width:1000px) {

    .upper-portion .center-content h1,
    .little-down-more-more-more .second-down h1,
    .happy-customers h1 {
        font-size: 40px;
    }

    .upper-portion .center-content p {
        font-size: 18px;

    }

    .little-down-more-more-more .cards {
        flex-direction: column;
        justify-content: center;

    }

    .happy-customers .comments {
        flex-direction: column;
    }



    .little-down-more-more-more {
        height: 530vh;
    }

    footer {
        padding-left: 90px;
    }

    footer .footer-upper {
        flex-direction: column;

    }


    .little-down-more-more-more {
        height: 130vh;
        width: 100%;
    }

    .little-down-more-more-more form input {
        width: 154%;
    }

    .little-down-more-more-more form :first-child {
        flex-direction: column;
    }

    .container {
        flex-direction: column;

        align-items: center;
    }

    .right-side {
        width: 70%;
    }

}

@media only screen and (max-width:550px) {

    .little-down-more-more-more {
        height: 130vh;
    }

    .little-down-more-more-more form input {
        width: 154%;
    }

    .little-down-more-more-more form :first-child {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .right-side {
        width: 70%;
    }

}